{% extends 'base.html' %}

{% block title %}
   Your Cart
{% endblock %}
  
{% block content %}
<h1>Checkout</h1>
<div class="col" style="background-color: white;"> 
  <h5>Total:₹{{ total }}</h5>
</div>
<h1>Items in your cart</h1>
  <div class="row row-cols-2"></div> 
  {% for a in items %}
    <div class="col mb-4">
        <div class="card">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ a.image_url }}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{a.name}}</h5>
                  <p class="card-text">₹ {{ a.price }}</p>
                  <a href="{% url 'remove-item' users a.id %}" class="btn btn-outline-danger active" role="button" aria-pressed="true">Remove</a>
                </div>
              </div>
            </div>
          </div>
    </div>
    
   {% endfor %}
  
  
</div>
{% endblock %}